* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    margin-left: 20px;
    font-family:'Times New Roman', Times, serif;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 15px;
}

.header a {
    color: rosybrown;
    text-decoration: none; 
}

.header a:hover {
    background-color: burlywood;
    }

.christine {
    height: 500px;
    max-width: 45%;
    background-image: url("../images/ImageofChristine.jfif");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section p {
    font-size: 20px;
}

.aboutme {
   
    padding: 50px;
    max-height: auto;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    background-color: rosybrown;
    color: black;
    text-align: center;
    margin-bottom: 25px;
}

.aboutme h2 {
    font-size: 35px;
}

.work {
    padding: 50px;
    max-height: auto;
    font-family:'Times New Roman', Times, serif;
    background-color: rosybrown;
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.work h2 {
    font-size: 35px;
}
.projects {
    list-style-type: none; 
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    display: block;
}
.project {
    margin: 30px;
    padding: 5px;
}

.project img {
    max-height: 30%;
    max-width: 30%;
    
}

.link {
    color: #ffffff;
    font-size: 20px;
}

.project-detail {
    color: #ffffff;
    font-size: 15px;
}


.project:hover {
transform: scale(1.2);
}

.contactme {
   
    padding: 50px;
    max-height: auto;
    font-family:'Times New Roman', Times, serif;
    background-color: rosybrown;
    color: black;
    width: 100%;
    display: block;   
    text-align: center;
    margin-top: 25px;
}

.contactme h2 {
    font-size: 35px;
}

.contactme ul li {
    list-style-type: none;
    display: inline;
    margin: 35px;
    color: #ffffff;
    font-size: 20px;
}

.contactme a:hover {
    background-color: burlywood;
    }

